/* CSS Document */

body{
	background:#ccc;

	
	}
	
.container{
	background:#fff;
	margin:15px auto;
	min-height:500px;

	
	}
	
nav ul{
	text-align:center;
	}
	
nav ul li{
	display:inline-block;
	}
	
nav ul li a{
	padding: 5px 15px;
	border:1px solid #000;
	margin:0 10px;
	text-decoration:none;
	color:#fff;
	background:#777;
}	

nav ul li a:hover{
	text-decoration:none;
	background:#560001;
	color:#fff;
	}	